.container {
     color: #fff;
     display: flex;
     flex-direction: column;
     height: 100%;
     margin: 0 auto;
     padding: 0 15px;
     &_max {
          max-width: 1200px;
     }
     &_mid {
          max-width: 800px;
     }
     &_small {
          max-width: 500px;
     }
}