.account-actions {
     width: 100%;
     height: 100%;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     &__top {
          // max-width: 100px;
          align-items: center;
          display: flex;
          column-gap: 20px;
     }
     &__user-name {
          color: #01579b;

     }
     &__bottom {
          pointer-events: none;
          padding: 10px;
          border-radius: 5px;
          position: absolute;
          right: 0;
          opacity: 0;
          transform: translateY(-200%);
          background-color: #fff;
          transition: 0.4s;
          &_visible {
               pointer-events: all;
               opacity: 1;
               transform: translateY(30%);
               display: flex;
               flex-direction: column;
               align-items: center;
               row-gap: 10px;
          }
     }
     &__list {
          width: 100%;
          align-items: center;
          row-gap: 10px;
     }

     &__btn {
          padding: 0;
          width: 35px;
          height: 35px;
     }
     &__account-icon {
          color: #01579b;
     }
     @media (max-width: 768px) {
          &__top {
               flex-direction: column;
               row-gap: 15px;
          }
          &__bottom {
               left: 0;
               transform: translateX(-100%);
               transform: translateY(5%);
               transition:  transform 0.3s;
               &_visible {
                    position: relative;
                    transform: translateX(0%);
                    transform: translateY(5%);
               }
          }
     }
}

.list-account-actions {
     color: #01579b;
     display: flex;
     flex-direction: column;
     &__item {
          padding: 5px;
          width: 100%;
          text-align: center;
          &:hover {
               background-color: rgba(177, 177, 177, 0.56);
          }
     }
     &__btn {
          width: 100%;
          & svg {
               width: 30px;
          }
     }
     &__link {
          width: 100%;
     }
}
